*{
	margin: 0;
	padding: 0;
}

.torso{
	height: 200px;
	width: 200px;
	margin-left:200px;
	margin-top: 200px;
	border-radius: 50%;
	background-color: #f9f9f9; 
	border: 5px solid #424c56;
	overflow: hidden;
	animation: rotateBelly 2s linear 5s infinite;
}

@keyframes rotateBelly{
	0% {transform: rotate(0deg) translateY(0px);}
	50%{ transform: rotate(180deg) translateY(10px); }
	100%{ transform: rotate(360deg) translateY(0px); }
}

.circle1{
	height: 100px;
	width: 100px;
	margin-left: -20px;
	margin-top: -5px;
	border-radius: 50%;
	background-color: #d08d25;
	border: 5px solid #424c56;

}

.circle2 {
	height: 75px;
	width: 75px;
	margin-left: 7px;
	margin-top: 7px;
	border-radius: 50%;
	background-color: #f9f9f9;
	border: 5px solid #424c56;
}

.circle3 {
	height: 40px;
	width: 40px;
	margin-left: 13px;
	margin-top: 13px;
	border-radius: 50%;
	background-color: #b9c8d2;
	border: 5px solid #424c56;
}

.circle4{
	height: 100px;
	width: 100px;
	margin-left:20px;
	margin-top: 30px;
	border-radius: 50%;
	background-color: #d08d25;
	border: 5px solid #424c56;

}

.circle5 {
	height: 75px;
	width: 75px;
	margin-left: 7px;
	margin-top: 7px;
	border-radius: 50%;
	background-color: #f9f9f9;
	border: 5px solid #424c56;
}

.circle6 {
	height: 40px;
	width: 40px;
	margin-left: 13px;
	margin-top: 13px;
	border-radius: 50%;
	background-color: #b9c8d2;
	border: 5px solid #424c56;
}

.circle7{
	height: 100px;
	width: 100px;
	margin-left:140px;
	margin-top: -210px;
	border-radius: 50%;
	background-color: #d08d25;
	border: 5px solid #424c56;

}

.circle8 {
	height: 75px;
	width: 75px;
	margin-left: 7px;
	margin-top: 7px;
	border-radius: 50%;
	background-color: #f9f9f9;
	border: 5px solid #424c56;
}

.circle9 {
	height: 40px;
	width: 40px;
	margin-left: 13px;
	margin-top: 13px;
	border-radius: 50%;
	background-color: #b9c8d2;
	border: 5px solid #424c56;
}

.line1 {
	height: 5px;
	width: 40px;
	margin-top: -30px;
	margin-left: 40px;
	transform: rotate(73deg);
	background-color: #424c56;
}

.line2 {
	height: 5px;
	width: 60px;
	margin-top: -60px;
	margin-left: 85px;
	transform: rotate(17deg);
	background-color: #424c56;
}

.line3 {
	height: 5px;
	width: 50px;
	margin-top: 70px;
	margin-left: 110px;
	transform: rotate(135deg);
	background-color: #424c56;
}

.dot{
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #424c56;
}

#dot1{margin-top: -15px;margin-left: 48px;}

#dot2{margin-top: -26px;margin-left: 43px;}

#dot3{margin-top: -73px;margin-left: 105px;}

#dot4{margin-top: -4px;margin-left: 125px;}

#dot5{margin-top: 70px;margin-left: 145px;}

#dot6{margin-top: 4px;margin-left: 130px;}

.head{
	height: 80px;
	width: 120px;
	margin-left: 200px;
	margin-top: -270px;
	background-color: #f9f9f9; 
	border: 5px solid #424c56;
	border-radius: 80px 80px 20px 20px;
	overflow: hidden;
	transform: rotate(-15deg);
	animation: headBounce 2s linear 5s infinite;
}

.eye{
	height: 30px;
	width: 30px;
	margin-left: 40px;
	margin-top: 25px;
	border-radius: 50%;
	background-color: #454f7d;
	border: 5px solid #424c56;
}

#dot7{margin-top: -5px; margin-left: 75px;}

.line4{
	height: 10px;
	width: 30px;
	margin-left: -2px;
	margin-top: -25px;
	background-color: #d08d25;
	border: 1.5px solid #424c56;
}

.line5{
	height: 6px;
	width: 35px;
	margin-left: 0px;
	margin-top: -30px;
	background-color: #d08d25;
	border: 1.5px solid #424c56;
}

.line6{
	height: 6px;
	width: 35px;
	margin-left: 85px;
	margin-top: -10px;
	background-color: #d08d25;
	border: 1.5px solid #424c56;
}

.line7{
	height: 10px;
	width: 30px;
	margin-left: 90px;
	margin-top: 8px;
	background-color: #d08d25;
	border: 1.5px solid #424c56;
}

#dot8{margin-top: 5px; margin-left:10px; background-color:#f9f9f9 }

.head-bot{
	height: 10px;
	width: 120px;
	margin-left: 0;
	margin-top: 14px;
	background-color: #b9c8d2;
	border: 1.5px solid #424c56;
}

.head-top{
	height: 20px;
	width: 120px;
	margin-left: 0;
	margin-top: -90px;
	background-color: #b9c8d2;
	border: 1.5px solid #424c56;
}

.antena1{
	width: 6px;
	height: 20px;
	margin-left: 240px;
	margin-top: -100px;
	background-color: #424c56;
	border-radius: 5px;
	transform: rotate(-15deg);
	animation: headBounce 2s linear 5s infinite;
}

.antena2{
	width: 6px;
	height: 40px;
	margin-left: 250px;
	margin-top: -44px;
	background-color: #424c56;
	border-radius: 5px;
	transform: rotate(-15deg);
	animation: headBounce 2s linear 5s infinite;
}

@keyframes headBounce{
	0% {transform: rotate(-15deg) translateX(0px) translateY(0px) ;}
	50%{transform: rotate(-10deg) translateX(15px) translateY(-25px);}
	100%{transform: rotate(-15deg) translateX(0px) translateY(0px);}
}

.ground{
	height:5px;
	width:300px;
	margin-left: 150px;
	margin-top: 260px;
	background-color: #424c56; 
}